<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.bzhl.drug.mapper.DrugInfoMapper">

    <resultMap id="BaseResultMap" type="org.example.bzhl.model.DrugInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="drugId" column="drug_id" jdbcType="VARCHAR"/>
            <result property="drugName" column="drug_name" jdbcType="VARCHAR"/>
            <result property="drugPrice" column="drug_price" jdbcType="DECIMAL"/>
            <result property="business" column="business" jdbcType="VARCHAR"/>
            <result property="drugType" column="drug_type" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,drug_id,drug_name,
        drug_price,business,drug_type,
        create_time,update_time,is_deleted
    </sql>
</mapper>
